body{
    background-color: #212121;
    color: #ffff;
    height: 100vh;
}



input , textarea {
    border-radius: 0.8rem 0 0 0.8rem !important;
    background: #23272F !important;
    box-shadow: inset 5px 5px 10px #0e1013, inset -5px -5px 10px #383e4b, 0px 0px 100px rgba(255, 212, 59, 0), 0px 0px 100px rgba(255, 102, 0, 0) !important;
    width: 100% !important;
    flex-basis: 75% !important;
    padding: 1rem !important;
    border: none !important;
    border: 1px solid transparent !important;
    color: white !important;
    transition: all 0.2s ease-in-out !important;
}



input:focus , textarea:focus {
    border: 1px solid #FFD43B !important; 
    outline: none !important;
    box-shadow: inset 0px 0px 10px rgba(255, 102, 0, 0.5), inset 0px 0px 10px rgba(255, 212, 59, 0.5), 0px 0px 100px rgba(255, 212, 59, 0.5), 0px 0px 100px rgba(255, 102, 0, 0.5) !important;
}




.container button {
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #FFD43B;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: inset 0px 0px 25px #FFD43B;
    overflow: hidden;
    
}

.container button::after {
    content: "";
    position: absolute;
    top: -23px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
    transform-origin: center;
}

.container button::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 120%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
}

.twobtn{
    display: flex;
    width: 50%; 
   
}

.twobtn :first-child{
    margin-right: 10px;
}